<html>
  <head>
    <style>
      table {
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
      }
    </style>
  </head>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Local/Link</th>
        <th>Data</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      {%for event in events%}
      <tr>
        <td>{{event.name}}</td>
        <td>{{event.category.name}}</td>
        <td>{% firstof event.local event.link %}</td>
        <td>{{event.date}}</td>
        <td><a href="show_event.html">Ver detalhes</a></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</html>
