<html>
  <h1>Evento: {{event.name}}</h1>
  <p>Categoria: {{event.category.name}}</p>
  {%if event.local%}
  <p>Evento: {{event.local}}</p>
  {%endif%} {%if event.link%}
  <p>Evento: {{event.link}}</p>
  {%endif%}
  <p>
    Data: {%if event.date%} {{event.date | date:"d/m/Y"}} {%else%} a definir.
    {%endif%}
  </p>
  <p>Quantidade de participantes: {{event.participants}}</p>
  <br />
  <form action="" method="">
    <input type="submit" value="Participar" />
  </form>
  <p>
    <a href="list_events.html">Ir para listagem de eventos</a>
  </p>
</html>
